.container{
  border: 1px solid red;
}
.nav{
  border: 1px solid black;
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.nav-items-ul{
display: flex;
gap: 30px;
}
.nav-items-ul li {
  list-style: none;
}
.nav-items-li a{
  text-decoration: none;
 
}