* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #e5e5e5;
  font-family: sans-serif;
}

/*######header#####*/

.container {
  border: 6px solid #1D1E4C;
  width: 900px;
  height: 1250;
  margin: 10px auto;
  
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 113px;
  margin-left: 97px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}
.header .text h1 {
  font-size: 4.8rem;
  font-weight: 500;
}
.header .text p {
  font-size: 24px;
  align-self: flex-end;
 
}
.header img {
  display: inline-block;
  width: 314px;
  height: 392px;
  border-radius: 170px;
}

/*######main#####*/
.main{
    margin-top: 5rem;
    padding-left: 97px;
}
.main h1{
    font-size: 72px;
    font-weight: 500;
}
.main p{
    font-size: 12px;
    text-align: justify;
    margin-right: 20px;
}

/*######main2#####*/
.main-2{
    margin-top: 4rem;
    padding-left: 100px;
}
.main-2 h3{
    font-size: 18px;
}
.main-2 ul{
    margin-top: 2rem;
    font-size: 12px;
}
.main-2 ul li{
    margin-bottom: 1rem;
}


