@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  ---purple500: #281154;
  ---purple300: #270082;
  ---purple600: #1b0058;
  ---red600: #dc0000;
  ---body: #f9f6ff;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
}
header {
  background-color: var(---purple500);
  position: sticky;
  top: 0%;
  z-index: 11;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

.container {
  color: white;

  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo {
  font-size: 3.2rem;
  font-weight: 600;
}
nav ul {
  display: flex;
  gap: 20px;
  font-size: 1.8rem;
}
nav ul li {
  border-bottom: 1px solid transparent;
  transition: border-bottom 500ms ease-in-out;
}
nav ul li:hover {
  border-bottom: 1px solid orange;
}

.hero {
  height: 100vh;
  background-image: url("/Images/music-website/hero_image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  object-fit: contain;
}
.hero-section {
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}
.hero-section h1 {
  font-size: 10rem;
  margin-bottom: 20px;
  font-weight: 400;
}
.hero-section h3 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 500;
}
.hero-section h4 {
  font-weight: 500;
  max-width: 841px;
  font-size: 1.6rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.music-section {
  border: 1px solid red;
  height: 806px;
  background-color: #281154;
  padding-top: 60px;
 
  
}
.music_section_div {
  border: 1px solid black;
  max-width: 968px;
  margin: 0 auto;
  text-align: center;
}
.music_section_div h2 {
  color: wheat;
  font-weight: 500;
  font-size: 4rem;
  margin-bottom: 20px;
}
.music_section_div h4 {
  color: wheat;
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 30px;
}
.music_section_div h3 {
  color: wheat;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.music_section_div button {
  padding: 18px;
  font-size: 1.5rem;
  font-weight: 600;
  border-style: none;
  color: white;
  margin-bottom: 20px;
  background-color: #DC0000;
}
.music_section_div p{
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
 
}
.music_section_div .hero-h3{
  margin-top: 40px;
  color: black;
  font-size: 2rem;
  font-weight: 500;
}
.music_section_div .hero-p{
  color: black;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 60px;
}
.music_section_div .hero-button{
  background: #37008E;
  margin-bottom: 40px;
}
/*###########new#######/*





/* 
h1 {
  font-size: 5.4rem;
}
a {
  text-decoration: none;
  color: white;
  font-size: 2em;
  font-weight: 400;
}
li {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
} */

/*###########header#########*/
/* 
.header {
  background-color: #270082;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8em;
  padding-bottom: 1em;
}
.header .logo {
  color: white;
}
.nav-item {
  display: inline-block;
  margin-left: 2em;
}
.nav-item a {
  transition: color 500ms ease-in-out;
}
.nav-item a:hover {
  color: #e6760e;
} */

/*########hero########*/
/* 
.hero {
  background-image: url("/Images/music-website/hero_image.png");
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}
.hero-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-div h1 {
  font-size: 8rem;
  font-weight: 400;
  margin-bottom: 0.1em;
}
.hero-div h3 {
  font-size: 3rem;
  font-weight: 300;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.hero-div p {
  font-size: 1.2rem;
  font-weight: 300;

  width: 800px;
  margin: 0 auto; */
/* } */

/*########music section######*/
/* .music-section {
  width: 100%;
  height: 606px;
  text-align: center;
  padding-top: 2em;
  background: #281154;
}
.music-section .music-div {
  color: white;
}
.music-section .music-div h3 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.music-section .music-div h4 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.music-section .music-div p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.music-section .music-div button {
  padding: 1rem;
  color: #e5e5e5;
  background-color: #e6760e;
  border-style: none;
  margin-bottom: 20px;
}

@media (max-width: 750px) {
  .header .logo {
    font-size: 2rem;
  }
  .nav-item {
    font-size: 8px;
  }
} */
