* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-weight: 300;
  line-height: 1.4;
  font-family: sans-serif;
}
nav {
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
  position: sticky;
  top: 0;
  margin-bottom: 32px;
  background-color: white;
  padding: 10px;
  z-index: 111;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar_icon {
  font-size: 3.2rem;
}

.hero {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  font-size: 5rem;
  font-weight: 300;
  width: 400px;
}
.hero-content {
  display: flex;
  flex-direction: column;

  gap: 20px;
}
.tag {
  background-color: #149f39;
  padding: 1em 3em;
  color: white;
  align-self: flex-start;
  font-size: 1rem;
}
.hero h1 {
  font-size: 5rem;
  font-weight: 300;
}
.hero p {
  font-size: 2rem;
}
.explore_btn {
  background-color: orange;
  border-style: none;
  align-self: flex-start;
  padding: 1em 2em;
  color: white;
}

.feature {
  margin-top: 2rem;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-bottom: 5em;
}
.features {
  display: flex;
  align-items: center;
  gap: 20px;
}
.features h3 {
  font-size: 1.5rem;
}

.divider {
  border: 1px solid grey;

  margin: 20px 0;
}
.menu h2 {
  font-size: 3rem;
}
.menu {
  
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px 0;
  align-items: center;
}
.menu .tag {
  align-self: center;
}
.grid img{
    border-radius: 10px;
    transition: transform 500ms ease-in-out;
    width: 100%;
    height: 100%;
}
.grid img:hover{
    transform: scale(1.1);
}
.grid {
  
  display: grid;
  gap: 10px;
  grid-template-areas:
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}

.item1 {
  grid-area: I1;
}
.item2 {
  grid-area: I2;
}

.item3 {
  grid-area: I3;
}
.item4 {
  grid-area: I4;
}
.item5 {
  grid-area: I5;
}
.item6 {
  grid-area: I6;
}
.item7 {
  grid-area: I7;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .hero_image img {
    width: 80%;
  }
  .hero-content {
    gap: 10px;
    padding: 10px;
  }
  .hero-content h1 {
    font-size: 32px;
    line-height: 1.2;
  }
  .features{
      flex-direction: column;
   
  }
  .feature{
    flex-direction: column;
    
  }

}
/* .container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}
.header {
  position: sticky;
}
.showcase-starting {
  display: flex;
  padding-top: 5em;
}

.img1 img {
  width: 512px;
  height: 514px;
}
.text1 {
  padding: 5em;
  padding-left: 8em;
}
.text1 h4 {
  font-size: 1.4rem;
  color: white;
  background: green;
  text-align: center;
  padding: 1em;
  width: 200px;
}
.text1 h1 {
  font-size: 7.2rem;
  width: 600px;
  margin: 0.25em 0;
}
.text1 p {
  font-size: 2rem;
  margin-bottom: 2em;
}
.text1 button {
  background: orange;
  padding: 2rem 4rem;
  color: white;
  border-style: none;
}
.detail {
  display: flex;
  margin-top: 7rem;
  justify-content: space-evenly;
  
}
.item-detail {
  display: flex;
  align-items: center;
}
.logo img{
    width: 80px;
    height: 83px;
    margin-right: 2em;
}
.text h4{
    font-size: 1.8rem;
}
.text p{
    font-size: 1.5rem;
} */
